*.iml
.gradle
/local.properties
.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
gradle.properties
keystore.properties
*.keystore
*.jks
**/build/generated/source/buildConfig/
*.aab
*.apk
app/build/
